<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.LearnLanguage">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_green"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NumbersActivity"
            android:label="Numbers in Arabic"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name=".NumbersActivity"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".FamilyActivity"
            android:label="Family in arabic"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name=".FamilyActivity"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".ColorsActivity"
            android:label="Colors in arabic"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name=".ColorsActivity"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".PhrasesActivity"
            android:label="Phrases in arabic"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name=".PhrasesActivity"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>